h1{
	text-align: center;
	margin-top: 20px;
	
}

div{
	overflow: hidden; 
	width: 100%;
	height: 80px;
	background-color: slateblue; 
}
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

table, tr, td{
	width: 30%;
	margin-top: 60px;
    table-layout: auto;
    border: 1px solid black;
}

.tr_selected{
	background-color: red;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}