.app{
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-areas: 
        "hello-world"
        "about"
        "my-work";
}

@media(max-width:720px){
    .app{
        grid-template-columns: 100%;
        grid-template-rows: 3fr 3fr 3fr;
    }
}

.hello-world{
    grid-area: hello-world;
    grid-row: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    grid-area: about;
    grid-row: 2/2;
    display: flex;
    justify-content: center;
}


@media(max-width: 720px){
    .about__wrapper{
        border-left: 8px solid #ffffff;
        margin: 8px 16px;
        padding: 8px 16px;
        width: 100%;
        
    }
}

.my-work{
    grid-area: my-work;
}

@media(max-width: 720px){
    .my-work__board{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
        margin: 8px 16px;
        padding: 8px;
    }
}

.my-work__board__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.my-work__board__projects__project{
    flex: 0 0 33.333333%;

}

.my-work__board_seemore{
    display: flex;
    align-items: center;
}