.app{
    background-color: #8AAAE5;
}

.blue__text{
    color: #8aaae5;
    font-weight: bold;
    padding-bottom: 8px;
}

.white__text{
    color: #ffffff;
}

.text_dev{
    color: #dbdee2;
    padding-bottom: 8px;
}

.hello-world__board{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 2%;
    padding: 3% 25%;
}

.hello-world__board h2{
    color: #8AAAE5;
    padding: 16px 0px;
}

.hello-world__img{
    min-height: 24px;
    max-height: 176px;
    border-radius: 50%;
}

.hello-world__wrapper_icon{
    display: flex;
    align-items: center;
    
}

.hello-world__icon{
    justify-content: space-around;
    max-width: 25px;
    max-height: 25px;
    padding: 0px 2px;
}

.about__wrapper__school{
    background-color: #ffffff;
    padding: 8px 16px;
    margin: 16px 0px;
    border-radius: 2%
}