

.navbar__list{
  display: flex;
}

.navbar__list__item{
  text-decoration: none;
  padding: calc(0.05 * 100vh);
  font-size: 100%;
  color: #ffffff;

}

.navbar__list__item:hover{

}

.navbar__icons{
  display: flex;
}

li{
  size: 100%;
}

.navbar__icon{
  margin-right: 10px;
}

.link_me:link{
  font-size: calc(1.75 * 100%);
  color: #ffffff;
  text-decoration: none;
}

.link_me:visited{
  font-size: calc(1.75 * 100%);
  color: #ffffff;
  text-decoration: none;
}

.helloworld__content{
  color: rgb(72, 118, 192);
  line-height: 3px;
  margin: 5vh 7vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.helloworld__content__title{
  margin-bottom: 20px;
}

.aboutme_textcontent__details{
  background-color: rgb(91, 140, 231);
  border-radius: 50px;
  border: 1px solid #cccccc;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  display: flex;
  align-items: center;
  padding: 2% 2%;
}

.aboutme_textcontent__details:hover{
    border-color: rgba(61, 139, 199, 0.8);
    background-color: rgb(107, 153, 240);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px     rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);

}

.aboutme_textcontent__icon{
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
  margin-right: 5px;
}