.app{
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  font-family: 'Comfortaa', cursive;
  grid-template-areas: 
    "navigation"
    "helloworld"
    "aboutme";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

@media(min-width:670px){
 .app{
  height: 100vh;
  background-color: #ffffff;
  display: grid;
  font-family: 'Comfortaa', cursive;
  grid-template-areas: 
    "navigation"
    "helloworld"
    "aboutme";
  grid-template-columns: auto;
  grid-template-rows: 5% 20% 75%;
} 
}
/*navbar*/
/*navigation*/
.navbar{
  background-color: #8AAAE5;
  grid-area: navigation;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(0.15 * 100vh);
}


@media(min-width:570px){
.navbar{
  background-color: #8AAAE5;
  grid-area: navigation;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(0.10 * 100vh);
}
}

/*helloworld*/
.helloworld{
  grid-area: helloworld;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*about me*/
/*media query para min. de 900px*/
@media(min-width:900px){
  .aboutme{
    display: grid;
    flex-direction:column;
    background-color: #8AAAE5;
    grid-area:aboutme;
    grid-template-areas: 
    "photo"
    "textcontent";
    grid-template-columns: auto;
    grid-template-rows: auto;
  } 
}
/*media query para min de 1024px*/
@media(min-width: 1024px){
  .aboutme{
    grid-area: aboutme;
    display: grid;
    background-color: #8AAAE5;
    grid-template-areas:
    "photo"
    "textcontent";
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
  } 
}
/*aboutme photo*/
@media(min-width:900px){
  .aboutme__photo{
    grid-area: photo;
    grid-row: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
/*media query para min de 1024px*/
@media(min-width:1024px){
  .aboutme__photo{
    grid-area: photo;
    grid-column: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(min-width:900px){
  .aboutme__photo__me{
    object-fit: cover;
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width: 40%;
    border: 1px solid #ffffff;
  }
}

@media(min-width:1024px){
  .aboutme__photo__me{
    object-fit: cover;
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width: 95%;
    border: 1px solid #ffffff;
  }
}
/*aboutme text*/
@media(min-width:900px){
  .aboutme_textcontent{
    grid-area: textcontent;
    grid-row: 2/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/*media query para min de 1024px*/
@media(min-width:1024px){
  .aboutme_textcontent{
    grid-area: textcontent;
    grid-column: 2/4;
    grid-row: 1/1;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }
}

